/*@media all and (min-width: 900px) {
  .container {
    width: 100%;
  }

  .navbar {
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    height: 100%;
  }
    .navbar__button {
      width: 23.2%;
      height: 50px;
      background-color: white;
      border: 1px solid black;
      margin-right: -5px;
      outline-color: white;
      font-size: 1.3em;
      letter-spacing: 2px;
    }
      .navbar__button:hover {
        background-color: black;
        color: white;
      }
        button {
          outline-color: none;
        }
          .navbar__button--active {
            background-color: black;
            color: white;
          }


  .content {
    width: 80%;
    height: 250px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    margin-top: 5%;
  }
    .phone-navbar {
      display: none;
    }

  .materials {
    display: block;
    width: 100%;
    margin-left: -4%;

  }
    .materials-list {
      list-style-type: none;
      display: inline-block;
      width: 10%;
      font-size: 3em;
      /*text-align: left;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: -5%;
    }
      .materials--font {
        font-size: 0.4em;
        display: block;
      }
        .line {
          display: block;
          background-color: black;
          height: 1px;
          width: 5%;
          margin: 0 auto;
          margin-top: -5%;
          margin-bottom: 2%;
        }


  .hidden {
    display: none;
  }
  .active {
    display: block;
  }

}
@media all and (max-width: 899px) {
  .container {
    display: none;
  }

  .content {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
  }
    .phone-navbar {
      width: 100%;
      background-color: white;
      border: none;
      border-bottom: 1px solid black;
      display: block;
      text-align: left;
      padding-left: 15px;
      color: black;
      cursor: pointer;
      padding: 18px;
      text-align: left;
      outline: none;
      transition: 0.4s;
      font-size: 1.3em;
      letter-spacing: 2px;
    }
      .hidden {
        display: none;
      }
        .accordion-icon {
          float: right;
          display: inline;
        }

    #accordion-icon-fit::before {
      content: "FIT";
      float: left;
      display: inline;
    }

    .materials-list {
      list-style-type: none;
      display: inline-block;
      width: 15%;
      margin-right: 7%;
      margin-left: 7%;
      font-size: 1.6em
    }
      ul.materials {
        margin-left: -10%;
      }
        .materials--font {
          font-size: .6em;
        }
          .line {
            display: block;
            height: 1px;
            width: 10%;
            margin: 0 auto;
            background-color: black;
            margin-top: -3%;
            margin-bottom: 6%;
          }

    .responsive {
      border-bottom: none;
      border-top: 1px solid black;
    }
}*/
* {
    box-sizing:border-box;
}
.info {
    width: 100%;
}
.info-nav {
    display: none;
}
.content__btn {
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    text-align: left;
    font-size: 1.3em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.accordion__content {
    font-family: sans-serif;
    width: 100%;
    text-align: center;
}

.materials {
    list-style-type: none;
    margin-left: -10%;
}
.materials-list {
    display: inline-block;
    width: 12%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2em;
    line-height: 20px;
}
.materials--font {
    font-size: .5em;

}
.line {
    width: 13.3%;
    margin: 0 auto;
    margin-top: -5%;
}
.content__btn::after {
    content: "+";
    float: right;
}
.content__btn--active::after {
    content: "-";
    float: right;
    color: black;
}
.bottom {
    border-bottom: none;
}
.hide {
    display: none;
}

@media all and (min-width: 644px) {
    .info-nav {
        display: block;
        width: 100%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
    }
    .info-nav__btn {
        width: 23.3%;
        height: 60px;
        background-color: white;
        border: 2px solid black;
        margin-right: -0.4%;
        font-size: 1.4em;
        font-family: sans-serif;
        letter-spacing: 2px;
        outline: none;
        font-weight: 500;
    }
    .info-nav__btn:hover {
        background-color: black;
        color: white;
    }
    .content__btn{
        display: none;
    }
    .accordion__content {
        font-size: 1.2em;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .materials {
        width: 100%;
        margin-left: -3%;
        /*margin-right: -10%;*/
    }
    .materials-list {
        display: inline-block;
        width: 10%;
        font-size: 2.2em;
    }
    .materials--font {
        font-size: .5em;
        margin-left: -10%;
    }
    .line {
        width: 5%;
        margin-top: -4%;
    }

    .content__btn--active {
        background-color: black;
        color: white;
    }
}
